/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

:root{
    --main-color: #e06703;
    --bg-color: #fafaf2;
    --grey-color: rgb(83, 83, 83);
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body{
    font-family: 'Oswald', sans-serif;
    background-color: var(--bg-color);
    overflow-x: hidden;

    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(243, 243, 233, 0.678)),to(rgba(243, 243, 233, 0.911))), url("images/new-bg.jpg");

    background-image: -o-linear-gradient(rgba(243, 243, 233, 0.678),rgba(243, 243, 233, 0.911)), url("images/new-bg.jpg");

    background-image: linear-gradient(rgba(243, 243, 233, 0.678),rgba(243, 243, 233, 0.911)), url("images/new-bg.jpg");
    background-size: cover; /*to cover viewport */
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}



/* ---- Header ----- */

header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.topo{
    z-index: 1;
}

#btn-mobile{
    display: none;
}

.navi{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 25px 40px;
    background-color: black;
}

.title a{
    font-size: 40px;
    margin-left: 80px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    font-family: 'Bangers', cursive;
}


/*---- Li ---*/

.navegacaop-li {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    display: inline;
    padding-left: 50px;
}

    .navegacaop-li a{
        text-decoration: none;
        color: white;
        border-bottom: 2px solid transparent;
        -webkit-transition: color 0.4s;
        -o-transition: color 0.4s;
        transition: color 0.4s;
    }

    .navegacaop-li a:hover{
        color:rgba(255, 255, 255, 0.808);
    }

    .entrar{
        margin-right: 80px
    }

/*------ Intro página ----- */

/*-Posicionamento-*/

.wrapper-home{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

}

    .size-div{
        display: inline;
        margin: 80px 160px 40px 0px;
    }

    .intro-div{
        -ms-flex-item-align: start;
            align-self: flex-start;
        margin: 140px 0 40px 120px;
    }


/*-Textos-*/

.main-title{
    font-size: 70px;
    letter-spacing: 2.5px;
    line-height: 1.2;
}

.explain-text.principal{
    color: var(--grey-color);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 30px;
}

/*-Botão-*/

.button-order{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 20px;
    background-color: var(--main-color);
    color: white;

    margin-top: 30px;
    border: 4px solid var(--main-color);
    border-radius: 7rem;
    padding: 1rem 3rem;
    cursor: pointer;
}

.button-order:hover{
    background-color: transparent;
    color: var(--main-color);
    padding: 1rem 3rem;
}

/* --------- Size info ------- */

.specifics{
    display: -ms-grid;
    display: grid;
    gap: 10px;
    -ms-grid-columns: 80px 10px 80px;
    grid-template-columns: 80px 80px;

    margin-bottom:60px;
}

.specifics.fim{
    margin-bottom: 40px;
}

.monte-skate{
    margin-bottom: 40px;
    margin-left: -10px;
    font-size: 25px;
    font-weight: 500;
}

/* Textos */

.size-text.desc{
    font-weight: 500;
    font-size: 20px;
}

.second-text{
    color: var(--grey-color);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 0;
    font-size: 16px;
    white-space: nowrap;
}

/* Ícones nas divs */

.icone-border{
    padding: 1rem;
    background-color: var(--main-color);
    border-radius: 1.2rem;

    height: 70px;
    width: 70px;
}

.material-icons{ /*aumentar tamanho icone */
    display: block;
    color: white;
    text-align: center;
    padding: 7px 0;

    width: 100%;
    height: auto;
    margin: 0 auto;
}

/* Botão*/

.button-choice{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 18px;
    background-color: transparent;
    color: black;
    text-decoration: none;

    margin-top: 5px;
    border: 2px solid var(--main-color);
    border-radius: 5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.button-choice:hover{
    color: rgba(0, 0, 0, 0.822);
    border: 2px solid black;
}

.choice{
    text-align: center;
}

/*------- Brands -------- */

.wrapper-brands{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 80px;
}

.brands-text{
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 50px 0 40px 120px;
}

    .brands-title{
        letter-spacing: 0;
        font-size: 25px;
        font-weight: 500;
    }

    .explain-p{
        color: var(--grey-color);
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 16px;

        width: 250px;
        word-wrap: break-word;
        margin-top: 15px;
    }

.brands-img{
    margin: 70px 80px 20px 0px;
}

    .brands-img .brand-logo{
        height: 40px;
        width: auto;
        padding: 0 40px;
        -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
    }

/* ------------- Footer ----------- */

footer{
    background-color: rgb(112, 112, 112);
    width: 100%;
}

.bg-footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-between;
    width: 100%;
}

footer li {
    list-style: none;
}

.nav-footer{
    margin: 30px 120px;
}

.nav-footer li{
    font-weight: 300;
    font-size: 16px;
    padding-top: 5px;
    white-space: nowrap;
}


.nav-footer a,
.social-footer a{
    color: white;
    text-decoration: none;
}

.nav-footer a:hover,
.social-footer a:hover{
    color: rgba(255, 255, 255, 0.733);
}

.social-footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3rem;
    margin: 30px 80px 30px 0;

    justify-content: flex-end;
}

.social-footer li{
    font-weight: 300;
    font-size: 22px;
}


